:root{
    --cor-hover: branco;
    --cor-background: branco;
}

.montserrat-fonte {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.menu{
    display: flex;
    justify-content: end;
    gap: 20px;
    background-color: black;
    color: white;
    padding: 20px;
}

.menu li{
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 4px 8px;
    transition: .5s;
}

.menu li:hover{
    background-color: var(--cor-hover);
}

.menu img{
    height: 20px;
}

.cards{
    display: flex;
    margin-top: 150px;
}

.cards .quadrado{
    background-color: var(--cor-background);
    gap: 50px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cards .quadrado img{
    height: 300px;
}

.cards .quadrado .tamanhos li{
    transition: .5s;
}

.cards .quadrado .tamanhos li:hover{
    background-color: red;
}

.cards .quadrado button{
    background-color: black;
    margin-top: 50px;
    color: white;
    width: 250px;
    font-size: 20px;
}



