:root{
    --cor-hover: branco;
    --cor-background: branco;
}



  

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.menu{
    display: flex;
    justify-content: end;
    gap: 20px;
    background-color: black;
    color: white;
    padding: 20px;
}

.menu li{
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 4px 8px;
    transition: .5s;
}

.menu li:hover{
    background-color: var(--cor-hover);
}

.menu img{
    height: 20px;
}

body{
    background-color: darkred;
}

.cards{
    display: flex;
    margin-top: 100px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.cards .quadrado{
    background-color: var(--cor-background);
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 50px;
    margin-left: 30px;
    width: 30vw;
    border-radius: 10px;
    display: flex;
    height: 650px;
}

.cards .quadrado div{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 550px;
}

.cards .quadrado span{
    font-size: 16px;
}

.cards .quadrado img{
    height: 270px;
    width: 270px;
    border-radius: 20px;
}

.cards .quadrado .tamanhos li{
    transition: .5s;
    font-size: 16px;
}

.cards .quadrado .tamanhos li:hover{
    background-color: red;
}

.cards .quadrado p{
    justify-content: start;
    text-decoration: underline;
}

.cards .quadrado h1{
    font-size: 24px;
    margin-top: 10px;
    color: var(--cor-background);
}

.cards .quadrado button{
    background-color: black;
    color: white;
    width: 100%;
    font-size: 24px;
    border-radius: 5px;
    margin-top: 10px;
}



